In [1]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv', parse_dates=True)
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1854,tt0158622,83000000,59468275,The Flintstones in Viva Rock Vegas,Mark Addy|Stephen Baldwin|Kristen Johnston|Jan...,Brian Levant,Get ready to rock!,The Flintstones are at it again. The Flintston...,90,Science Fiction|Comedy|Family|Romance,Universal Pictures|Amblin Entertainment,4/28/2000,4.4,2000
944,tt0240510,35000000,29882645,The Four Feathers,Heath Ledger|Wes Bentley|Kate Hudson|Djimon Ho...,Shekhar Kapur,Freedom. Country. Honor. Passion. To save his ...,"The story, set in 1875, follows a British offi...",132,War|Adventure|Drama|Romance,Paramount Pictures|Miramax Films|Marty Katz Pr...,9/8/2002,6.4,2002
580,tt0255798,22000000,84772742,The Animal,Rob Schneider|Colleen Haskell|John C. McGinley...,Luke Greenfield,He wasn't much of a man... Now he's not much o...,When loser Marvin Mange is involved in a horri...,84,Action|Comedy,Revolution Studios|Happy Madison Productions,6/1/2001,4.5,2001
969,tt0279493,25000000,41604473,Undercover Brother,Eddie Griffin|Chris Kattan|Denise Richards|Aun...,Malcolm D. Lee,He's All Action,"An Afro-American organization, the B.R.O.T.H.E...",86,Action|Comedy,Universal Pictures,5/31/2002,5.4,2002
383,tt1542344,18000000,35692920,127 Hours,James Franco|Kate Mara|Amber Tamblyn|ClÃ©mence...,Danny Boyle,There is no force more powerful than the will ...,127 Hours is the true story of mountain climbe...,94,Adventure|Drama|Thriller,Fox Searchlight Pictures|Dune Entertainment|Da...,11/5/2010,6.9,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:

answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget


def print_title(data_index):
    '''Функция, которая красиво выводит ответ.'''
    title = data.original_title.values[data_index][0]
    imdb = data.imdb_id[data_index[0]]
    
    print('{} ({})'.format(title,imdb))
    
    
def found_genres(s):
    '''Функция, которая создаёт список всех совпадений с pattern
и возвращает саму строку, чтобы не изменять DataFrame'''
    pattern = re.compile('[A-z]+')
    new_list.append(pattern.findall(s))
    
    return s


def count_genres(s):
    '''Функция, которая создаёт словарь со всеми жанрами и их кол-вом
и возвращает саму строку, чтобы не изменять DataFrame'''
    for i in s:
        if i in dict_genres:
            dict_genres[i]+=1
        else:
            dict_genres[i]=1
            
    return s


def found_action(s):
    '''Возвращает строку с Action или без.'''
    k='Action'
    if k in s:
        return k
    else:
        return s
    
    
def release_month(s):
    '''Находит в колонке все десятичные числа или цифры список из (месяца,дня,года),
выводит название месяца соответсвующего числу.'''
    pattern = re.compile('\d+')
    data_dict = {'1': 'Январь','2': 'Февраль','3': 'Март',
                 '4': 'Апрель','5': 'Май','6': 'Июнь',
                 '7': 'Июль','8': 'Август','9': 'Сентябрь',
                 '10': 'Октябрь','11': 'Ноябрь','12': 'Декабрь'
    }
    
    return data_dict[pattern.findall(s)[0]]


def release_season(s):
    '''Находит всё тоже что и в ф-ии release_month,
только выводит времена года'''
    pattern = re.compile('\d+')
    data_dict = {'1': 'Зима','2': 'Зима','3': 'Весна',
                 '4': 'Весна','5': 'Весна','6': 'Лето',
                 '7': 'Лето','8': 'Лето','9': 'Осень',
                 '10': 'Осень','11': 'Осень','12': 'Зима'
    }
    
    return data_dict[pattern.findall(s)[0]]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [8]:
data_index = data.loc[data.budget == data.budget.max()].index
print_title(data_index)

Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [9]:
# решение с помощью .query
data_index = data.query('budget == budget.max()').index
print_title(data_index)

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [11]:
data_index = data.query('runtime == runtime.max()').index
print_title(data_index)

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [13]:
data_index = data.runtime.sort_values().index[0]
title = data.original_title[data_index]
imdb = data.imdb_id[data_index]
print('{} ({})'.format(title,imdb))

Winnie the Pooh (tt1449283)

In [14]:
#2 способ решения
data_index = data.query('runtime == runtime.min()').index
print_title(data_index)

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [15]:
# round - округляет значение,в данном случае до целого числа.
round(data.runtime.mean())

110

In [16]:
answers['4'] = 110 # +

# 5. Каково медианное значение длительности фильмов?

In [17]:
data.runtime.median()

107.0

In [18]:
answers['5'] = 107 # +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
# data = pd.read_csv('movie_bd_v5.csv', parse_dates=True)
# прочитали данный csv файл с чтением дат.

In [20]:
data_index = data.query('(profit == profit.max()) & (profit > 0)').index
print_title(data_index)

Avatar (tt0499549)

In [21]:
answers['6'] = 'Avatar (tt0499549)' # +

# 7. Какой фильм самый убыточный?

In [22]:
data_index = data.query('(profit == profit.min()) & (profit < 0)').index
print_title(data_index)

The Lone Ranger (tt1210819)

In [23]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
data.query('revenue > budget').original_title.count()

1478

In [25]:
answers['8'] = 1478 # +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
# Программа находит самый максимальный кассовый сбор за 2008 год.
# Далее находит номер этой строки.
max_revenue = data[data.release_date.str.contains('2008')].revenue.max()
data_index = data[data.revenue == max_revenue].index
print_title(data_index)

The Dark Knight (tt0468569)

In [27]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
# записываем даты(data.release_date) в корректной форме
data.release_date = pd.to_datetime(data.release_date, yearfirst=True)

In [29]:
data_index = data.query("(release_date >= '2012-01-01')&\
                    (release_date <= '2014-12-31')&\
                    (profit == profit.min())&\
                    (profit < 0)").index
print_title(data_index)

The Lone Ranger (tt1210819)

In [30]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

# 11. Какого жанра фильмов больше всего?

In [31]:
# 1 способ
# С помощью .apply() и collections.Counter()
new_list = []
c = collections.Counter()
data.genres.apply(found_genres) # применяем функцию 'found_genres' ко всем data.genres

for i in new_list:
    #цикл подсчёта количеств одинаковых жанров
    for k in i:
        c[k]+=1
        
c.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [32]:
# записываем в data.genres список жанров,
# который мы разделили с помощью .split('|')
data.genres = data.genres.apply(lambda x:x.split('|'))

In [33]:
dict_genres = {}

data.genres.apply(count_genres) # применяем функцию 'count_genres' ко всем data.genres

df_genres = pd.Series(dict_genres) # создаём Series из словаря, чтобы можно было использовать .max()
df_genres[df_genres == df_genres.max()].index[0]

'Drama'

In [34]:
answers['11'] = 'Drama' # +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [35]:
dict_genres = {}

df_profit = data.query('revenue - budget > 0')

df_profit.genres.apply(count_genres) # применяем функцию 'count_genres' ко всем df_profit.genres

df_genres = pd.Series(dict_genres)
df_genres.sort_values(ascending=False).index[0] # сортируем Series по убыванию

'Drama'

In [36]:
answers['12'] = 'Drama' # +

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [37]:
# записываем в data.director список режиссёров,
# который мы разделили с помощью .split('|')
data.director = data.director.apply(lambda x:x.split('|'))

In [38]:
'''Данный алгоритм выполняется не совсем быстро, потому что в этот момент
я не знал о существовании .explode. 
    По сути я сам написал алгоритм, который приводит к такому же результату,
просто не так быстро.'''

'Данный алгоритм выполняется не совсем быстро, потому что в этот момент\nя не знал о существовании .explode. \n    По сути я сам написал алгоритм, который приводит к такому же результату,\nпросто не так быстро.'

In [39]:
# Мой алгоритм, т.к. режиссёров может быть несколько,
# то пришлось их разделить и сохранить для них остальные элементы в строке
data2 = pd.DataFrame(columns=data.columns) # создаём новый dataframe с такими же колонками

for i in range(0,len(data)):
    # перебираем индексы строки
    for k in data.director.iloc[i]:
        # перебираем элементы списка data.director каждой строки
        data2.loc[len(data2)] = data.loc[i] # для нового data2 сохраняем все те же значения в строке
        data2.director.loc[len(data2)-1] = k # для колонки с режиссёрами, сохраняем только одного режиссёра
                                             # и так для всех режиссёров одного фильма

# группируем колонку director по revenue.sum()
# создаём dataframe, чтобы применить поиск максимального            
revenue_sum2 = data2.groupby(['director']).revenue.sum().reset_index()
revenue_sum2.query('revenue == revenue.max()')

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

          director     revenue
727  Peter Jackson  6490593685

In [40]:
# 2 способ 
# с помощью '.explode()'
data2 = pd.DataFrame(columns=data.columns)
data2 = data.explode('director')
revenue_sum2 = data2.groupby(['director']).revenue.sum().reset_index()
revenue_sum2.query('revenue == revenue.max()')

          director     revenue
727  Peter Jackson  6490593685

In [41]:
answers['13'] = 'Peter Jackson' # +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
# Алгоритм как в задание 13
new_df = pd.DataFrame(columns=data.columns)

for i in range(0,len(data)):
    for k in data.director.iloc[i]:
        new_df.loc[len(new_df)] = data.loc[i]
        new_df.director.loc[len(new_df)-1] = k

new_df.genres = new_df.genres.apply(found_action)

new_df[new_df.genres == 'Action'].director\
                            .value_counts()\
                            .sort_values(ascending=False).index[0]

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

'Robert Rodriguez'

In [43]:
# 2 способ
data = pd.read_csv('movie_bd_v5.csv')
data2 = data[data.genres.str.contains('Action', na = False)] # выбираем только строки с жанром 'Action'

# создаём список со всеми режиссёрами,считает кол-во повторений
collections.Counter(data2['director'].str.cat(sep = '|')\
                                    .split('|')).most_common(1)

[('Robert Rodriguez', 9)]

In [44]:
answers['14'] = 'Robert Rodriguez' # +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [45]:
# Медленная программа 
data = pd.read_csv('movie_bd_v5.csv',parse_dates=True)
data.release_date = pd.to_datetime(data.release_date)

data['profit'] = data.revenue - data.budget
df=pd.DataFrame(columns = ['cast','profit'])

new_df = data.query('(release_date >= "2012-01-01") &\
        (release_date <= "2012-12-31") & profit > 0') # создаём dataframe с фильмами 2012 года

# создаём новый dataframe с ['cast'] ['profit'].max()
df_cast = new_df.groupby(['cast']).profit.max()
df_cast = df_cast.reset_index()

df_cast.cast = df_cast.cast.apply(lambda x:x.split('|'))

# старый цикл, который использовался ранее
# в колонке cast все актёры будут написаны раздельно
for i in range(0,len(df_cast)):
    for k in df_cast.cast.iloc[i]:
        df.loc[len(df)] = df_cast.loc[i]
        df.cast.loc[len(df)-1] = k
        
#находим ответ на вопрос        
df = df.groupby(['cast']).profit.sum().reset_index()
df[df.profit == df.profit.max()]

               cast      profit
68  Chris Hemsworth  1562643990

In [46]:
# решение с помощью .explode
data = pd.read_csv('movie_bd_v5.csv',parse_dates=True)
data.release_date = pd.to_datetime(data.release_date)

data['profit'] = data.revenue - data.budget
df=pd.DataFrame(columns = ['cast','profit'])

new_df = data.query('(release_date >= "2012-01-01") &\
        (release_date <= "2012-12-31") & profit > 0') # создаём dataframe с фильмами 2012 года

new_df = new_df.groupby(['cast']).profit.max().reset_index()
new_df.cast = new_df.cast.apply(lambda x:x.split('|'))
new_df = new_df.explode('cast')
new_df = new_df.groupby(['cast']).profit.sum().reset_index()
new_df[new_df.profit == new_df.profit.max()]

               cast      profit
68  Chris Hemsworth  1562643990

In [47]:
answers['15'] = 'Chris Hemsworth' # +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [48]:
data = pd.read_csv('movie_bd_v5.csv')

data_top = data[data.budget > data.budget.mean()] # оставляем только высокобюджетные фильмы
data_cast = data_top.cast.apply(lambda x:x.split('|')).reset_index() # создаём dataframe с разделёнными актёрами

# подсчитываем кол-во вхождений в series в колонке cast и находим макс.
pd.Series(data_cast.cast.sum()).value_counts().index[0]

'Matt Damon'

In [49]:
answers['16'] = 'Matt Damon' # +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [50]:
data = pd.read_csv('movie_bd_v5.csv')
data2 = data[data.cast.str.contains('Nicolas Cage')]
data_genres = data2.genres.apply(lambda x:x.split('|')).reset_index()

# считаем кол-во вхождений в список 'data_genres.genres.sum()'
collections.Counter(data_genres.genres.sum()).most_common(1)

[('Action', 17)]

In [51]:
answers['17'] = 'Action' # +

# 18. Самый убыточный фильм от Paramount Pictures

In [52]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

# создаём dataframe с строками в которых есть компания 'Paramount Pictures'
data_company = data.loc[data.production_companies.str\
             .contains('Paramount Pictures', na=False)]

data_company.query('profit == profit.min()').original_title # находим мин. прибыль

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [53]:
answers['18'] = 'K-19: The Widowmaker' # +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [54]:
data.groupby(['release_year']).revenue.sum().\
        sort_values(ascending=False).index[0]

2015

In [55]:
answers['19'] = '2015' # +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [56]:
# находим строки с компание 'Warner Bros', группируем по году релиза,
# считаем сумму прибыли и сортируем по ней(по возрастанию) и находим последний элемент.
data[data.production_companies.str.contains('Warner Bros', na=False)]\
                                .groupby(['release_year']).profit.sum()\
                                .sort_values().index[-1]

2014

In [57]:
answers['20'] = '2014' # +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [58]:
data['release_month'] = data.release_date.apply(release_month) # применяем к release_date ф-ию release_month
data2 = data.groupby(['release_month'])[['imdb_id']].count()
data2.query('imdb_id == imdb_id.max()')

               imdb_id
release_month
Сентябрь           227

In [59]:
answers['21'] = 'Сентябрь' # +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [60]:
data['release_month'] = data.release_date.apply(release_month)
data2 = data.groupby(['release_month'])[['imdb_id']].count()

# суммируем кол-во фильмов за нужные месяца
x = (data2.loc['Август'].values[0]
    + data2.loc['Июль'].values[0]
    + data2.loc['Июнь'].values[0])
x

450

In [61]:
answers['22'] = '450' # +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [62]:
data['release_season'] = data.release_date.apply(release_season)
data.director = data.director.apply(lambda x:x.split('|'))

data2 = data[data.release_season == 'Зима']
pd.Series(data2.director.sum()).value_counts().sort_values().index[-1]

'Peter Jackson'

In [63]:
answers['23'] = 'Peter Jackson' # +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [64]:
new_df = data.explode('production_companies') # создаём dataframe с разделёнными студиями

# в новую колонку записываем длину названий фильмов
new_df['len_title'] = new_df.original_title.apply(lambda x: len(x))

# считаем среднее и выводим студию с самыми длинными названиями
new_df.groupby(['production_companies']).len_title.mean()\
                                    .sort_values().index[-1]

'Twentieth Century Fox Film Corporation|Four By Two Productions'

In [65]:
answers['24'] = 'Four By Two Productions' # +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [66]:
new_df = data.explode('production_companies')
new_df.overview = new_df.overview.apply(lambda x: len(x))
new_df.groupby(['production_companies']).overview.mean()\
                                    .sort_values().index[-1]

'Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show'

In [67]:
answers['25'] = 'Midnight Picture Show' # +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [68]:
vote_1_per = data.vote_average.quantile(.99) # .quantile возвращает число(квантиль последовательности)
x = data[data.vote_average >= vote_1_per] # если рейтинг выше этого числа, то удовлетворяет
x.original_title.values

array(['Inside Out', 'Spotlight', 'Room', 'Interstellar',
       'Guardians of the Galaxy', 'Big Hero 6', 'The Imitation Game',
       'Gone Girl', 'The Grand Budapest Hotel',
       'The Theory of Everything', 'The Fault in Our Stars', 'Mr. Nobody',
       '3 Idiots', 'Inception',
       'The Lord of the Rings: The Fellowship of the Ring',
       'The Dark Knight', 'The Lord of the Rings: The Two Towers',
       'The Pianist', 'The Lord of the Rings: The Return of the King',
       'The Wolf of Wall Street', 'Her', '12 Years a Slave', 'Prisoners',
       'Dallas Buyers Club', 'The Prestige',
       'Eternal Sunshine of the Spotless Mind', 'There Will Be Blood',
       'Memento'], dtype=object)

In [69]:
# не знаю, что записать в ответ, поэтому внесу весь список, удовл. усл.
answers['26'] = ('Inside Out', 'Spotlight', 'Room', 'Interstellar',
       'Guardians of the Galaxy', 'Big Hero 6', 'The Imitation Game',
       'Gone Girl', 'The Grand Budapest Hotel',
       'The Theory of Everything', 'The Fault in Our Stars', 'Mr. Nobody',
       '3 Idiots', 'Inception',
       'The Lord of the Rings: The Fellowship of the Ring',
       'The Dark Knight', 'The Lord of the Rings: The Two Towers',
       'The Pianist', 'The Lord of the Rings: The Return of the King',
       'The Wolf of Wall Street', 'Her', '12 Years a Slave', 'Prisoners',
       'Dallas Buyers Club', 'The Prestige',
       'Eternal Sunshine of the Spotless Mind', 'There Will Be Blood',
       'Memento') # +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [70]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
c_list = []

for caster in data.cast:
    # добавляет в список все сочетания актёров,
    # которые снимались в одном фильме.
    c_list += list(combinations(caster,2))
    
collections.Counter(c_list).most_common(10) # выводит 10 наиболее часто встречающихся сочетаний

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5)]

ВАРИАНТ 2

In [71]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
c_list = []
combinations_df = pd.DataFrame()

for caster in data.cast:
    c_list += list(combinations(caster,2))

# в колонку combinations записываем комбинации 
combinations_df['combinations'] = c_list
combinations_df.combinations.value_counts() # считаем кол-во этих комбинаций

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Max Martini, Chris Mulkey)            1
(Nicholas Tse, Wu Jing)                1
(Katherine Heigl, Alex Borstein)       1
(Ossie Davis, Max Casella)             1
(Rosie Shaw, Adrienne Shaw)            1
Name: combinations, Length: 18121, dtype: int64

In [72]:
answers['27'] = "('Daniel Radcliffe', 'Emma Watson'), ('Daniel Radcliffe', 'Rupert Grint')" # +

# Submission

In [73]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ('Inside Out',
  'Spotlight',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'Big Hero 6',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'The Theory of Everything',
  'The Fault in Our Stars',
  'Mr. Nobody',
  '3 Idiots',
  'Inception',
  'The Lord of the Rings: The Fellowship of the Ring',
  'The Dark Knight',
  'The Lord of the Rings: The Two Towers',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  'Her',
  '12 Years a Slave',
  'Prisoners',
  'Dallas Buyers Club',
  'The Prestige',
  'Eternal Sunshine of the Spotless Mind',
  'There Will Be Blood',
  'Memento'),
 '27': "('Daniel Radcliffe', 'Emma Watson'), ('Daniel Radcliffe', 'Rupert Grint')"}

In [74]:
# и убедиться что ни чего не пропустил)
len(answers)

27